#favoris {
  width: 307px;
  height: 352px;
  background-color: #292222;
  color: white;
}

#favoris h2 {
  margin: 2px 11px;
  font-size: 25px;
  font-weight: 400;
}

#favoris img {
  height: 45px;
}

#favoris .playgrounds {
  width: 307px;
  height: 352px;
  border: 2px solid #673389;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#favoris .playground {
  font-size: 17px;
  font-weight: 50;
  display: flex;
  justify-content: space-evenly;
  margin: 15px;

}