.home {
  position: relative;
  height: 647px;
  background-image: url('https://res.cloudinary.com/dp1lq7mea/image/upload/v1628183286/dorian-mongel-lFhyR3GVOXE-unsplash_kdw9u1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .section1{
  position: absolute;
  left: 5%;
  bottom: 15%;
}

.home .section1 .text {
  width: 420px;
  height: 236px;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
}

.home .section1 .text h1 {
  color: white
}

.home .section1 .text .orange {
  color: #FEA146;
}

.home .section1 a {
  position: absolute;
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
  padding: 15px 45px;
  background-color: black;
}