.userCard{
  height:290px;
  width: 199px;
  border: 2px solid #673389 ;
  background-color: #673389;
  border-radius: 10px;
  text-align: center;
}

.userCard .userPersonalData {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  height: 235px;
  position: relative;
}

.userCard .divs {
  position: absolute;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 5px;
  width:100%;
  font-size: 12px;
  font-weight: 450;
}

.userCard .divs div {
  display:flex;
  flex-direction:column ;
  color:white
}

.userCard .userStats {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 12px;
  font-weight: 450;
}

.userCard .userStats div {
  display:flex;
  flex-direction:column ;
  color:white
}
.userCard .orange {
  color:#FEA146;
  font-size: 14px;
  font-weight: 550;
}