.formulaire {
	position: absolute;

	color : white;
	overflow: hidden;
  padding-left: 1200px;
  background-repeat: -x;
 height: 100%;
 width: 100%;
  background-color: #292222;

}

hr {
background-color: burlywood;
height: 6px;
width: 20%;
margin-right: 900px;




}

.vertical {

position: absolute;
width:0.5px;
height:300px;
margin-bottom: 500px;
margin-top:auto;


}

button {

	height: 50px;
	width: 150px;
	background-color: burlywood;
}




